* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

h1 {
  margin: 20px 5px 30px 15px;
  font-size: 50px;
  align-items: center;
  text-align: center; 
  color: darkorange;
  font-weight: bold;
}

h1:hover {
    transform: translateY(-3%);
    transition: .3s;
}